.notfound{
  position: absolute;
  top: 48%;
  left: 50%;
}

.notfoundHeader{
  padding-top: 15px;
  background: black;
}

.notfoundContent{
  color: white;
  background: dimgray;
  padding: 0px 25px 10px 25px;
}

.background{

}
