// -------- Landing Component -------------
.landing-container {
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;

    height: 100vh;
    width: 100vw;
    
    background-color: $dark-purple;
    color: $white;
}

// -------- Card Components -------------
.personal-card,
.languages-card {    
    background: $white;
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border-radius: 2em;
    filter: drop-shadow(6px 6px 15px $black);
    color: $black;    
}

.personal-card {
    .logo {
        width: 15em;
        margin: auto;
    }
}

.languages-card {
    text-align: center;
    .language-icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

        .language-icon {
            width: 3em;
            flex: 0 23%;
            margin: 3px 0.5em;        
        }
    }    
}

// -------- Large Cards Components -------------
.personal-blurb,
.active-repos {
    background: $white;
    width: 50em;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border-radius: 2em;
    filter: drop-shadow(6px 6px 15px $black);
    
    color: $black;
}
